<br>
<br>
<br>
<br>

# 위치데이터와 앱 데이터 EDA

---

In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_columns',999)

import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm
import seaborn as sns
sns.set() 
%matplotlib inline 
%config InlineBackend.figure_format = 'retina' 
sns.set_style(style='white')
sns.set_context(context ='paper')

import datetime
import os

In [2]:
# 위치데이터와 앱 사용 데이터

# sample_Location = pd.read_table('Bigdata_2_sample_Location.txt', error_bad_lines=False)
# sample_AppUsage_usage_app_list = pd.read_table('Bigdata_3_sample_AppUsage_usage_app_list.txt', error_bad_lines=False)
# sample_AppUsage_usage_sum_time = pd.read_table('Bigdata_3_sample_AppUsage_usage_sum_time.txt', error_bad_lines=False, encoding='cp949')

# 설문 데이터

PS_Question_1 = pd.read_csv('PS_Question_1.csv', encoding='cp949')
PS_Question_2 = pd.read_csv('PS_Question_2.csv', encoding='cp949')
PS_mobile = pd.read_csv('PS_mobile.csv', encoding='cp949')
PS_job = pd.read_csv('PS_job.csv', encoding='cp949')
PS_home = pd.read_csv('PS_home.csv', encoding='cp949')
PS_family = pd.read_csv('PS_family.csv', encoding='cp949')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (165) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
PS_job.head()

,id,ins_date,ageM,v1,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,v29,v30,v31,v32,v33,v34,v35,v36,v37,v38,v39,v40,v41,v42,v43,v44,v45_1,v45_2,v45_3,v45_4,v45_5,v45_6,v45_7,v45_8,v45_9,v45_10,v45_11,v45_99,v46
0,A0000910,2017-05-03 14:44:51.637,1968,1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0001355,2017-05-18 17:24:50.550,1973,2,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A0002394,2017-09-12 17:26:12.033,1958,2,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A0002542,2017-04-26 17:21:08.563,1968,1,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A0003204,2018-02-19 21:12:07.620,1979,2,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<br>
<br>
<br>
<br>

# sample_Location

<br>
null값이 적은 컬럼에 한하여 EDA 진행

---

In [5]:
sample_Location.head()

,idx,time,pid,placename,in_near,category,address,floor,lat,lng,loplat_id,place_tag,zipcode,area_name,area_tag,complex_name,complex_branch,area_id,area_lat,area_lng,complex_id
0,4,2017-09-06 08:44:43.000,H0123900,서울5호선,In,Subway Train,서울특별시 중구 회현동,-1.0,37.555104,126.970778,92237.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,2017-09-06 08:45:12.000,I0274841,메디넷영동의원,Near,Others(Hospital),서울특별시 강남구 역삼1동,2.0,37.491746,127.030987,70186.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,2017-09-06 09:02:05.000,I0274841,하나투어,Near,Travel Agency,서울특별시 강남구 역삼1동,16.0,37.491819,127.031087,70183.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20,2017-09-06 16:37:46.000,P0069737,서울3호선 안국역,In,Subway Station,서울특별시 종로구 종로1.2.3.4가동,-3.0,37.576556,126.985591,102318.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21,2017-09-06 16:40:57.000,P0053069,우리은행,Near,Bank,서울 동작구 노량진동 42-11,1.0,37.513165,126.937856,29984.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# 3,641,462개의 row

len(sample_Location)

3641462

In [7]:
# 총 18463명의 패널 데이터가 존재

sample_Location['pid'].nunique()

18463

In [8]:
# 각 컬럼별 결측치 비율 확인
# 약 15%의 데이터는 아예 장소에 대한 정보가 없음
# 결측치가 50% 이상인 데이터에 대해서는 EDA를 진행하지 않음

sample_Location.isnull().sum() / len(sample_Location)

idx               0.000000
time              0.000000
pid               0.000000
placename         0.144341
in_near           0.144340
category          0.144340
address           0.166221
floor             0.156821
lat               0.152289
lng               0.152289
loplat_id         0.152284
place_tag         0.629312
zipcode           0.541312
area_name         0.697613
area_tag          0.697613
complex_name      0.977762
complex_branch    0.980798
area_id           0.697613
area_lat          0.697613
area_lng          0.697613
complex_id        0.972911
dtype: float64

In [9]:
# placename, in_near, category가 동시에 없는 데이터가 약 15%라는 것을 확인   
# 결국 저 셋에서는 동시에 결측치가 발생한게 맞음

len(sample_Location[lambda x: x.placename.isnull()][lambda x: x.in_near.isnull()][lambda x: x.category.isnull()]) / len(sample_Location)

0.14434010295864683

In [10]:
# placename, in_near, category에 결측치가 존재하는 데이터를 지움

sample_Location = sample_Location.dropna(thresh=11)

In [11]:
# 대부분의 불필요한 결측치 제거

sample_Location.isnull().sum()

idx                     0
time                    0
pid                     0
placename               2
in_near                 0
category                0
address             40787
floor                 573
lat                     0
lng                     0
loplat_id               0
place_tag         1736734
zipcode           1380996
area_name         2475770
area_tag          2475770
complex_name      2970313
complex_branch    2981367
area_id           2475770
area_lat          2475770
area_lng          2475770
complex_id        2952650
dtype: int64

<br>
<br>
<br>
<br>
<br>
<br>
<br>
## 위치데이터 1줄로 정리

In [12]:
sample_Location.head(2)

,idx,time,pid,placename,in_near,category,address,floor,lat,lng,loplat_id,place_tag,zipcode,area_name,area_tag,complex_name,complex_branch,area_id,area_lat,area_lng,complex_id
0,4,2017-09-06 08:44:43.000,H0123900,서울5호선,In,Subway Train,서울특별시 중구 회현동,-1.0,37.555104,126.970778,92237.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,2017-09-06 08:45:12.000,I0274841,메디넷영동의원,Near,Others(Hospital),서울특별시 강남구 역삼1동,2.0,37.491746,127.030987,70186.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# 실제 사용할 위치데이터는 Near, 즉 근처에만 간 데이터를 모두 지움
# 사용할 컬럼 중 address, floor에 결측치가 있으므로 조정 필요

sample_Location_in = sample_Location[lambda x: x.in_near == 'In']
sample_Location_in = sample_Location_in[lambda x: x.placename.notnull()]

In [14]:
sample_Location_in.isnull().sum()

idx                     0
time                    0
pid                     0
placename               0
in_near                 0
category                0
address             17585
floor                 573
lat                     0
lng                     0
loplat_id               0
place_tag          674543
zipcode            546738
area_name         1016243
area_tag          1016243
complex_name      1175500
complex_branch    1186554
area_id           1016243
area_lat          1016243
area_lng          1016243
complex_id        1157837
dtype: int64

In [15]:
# target 목록 뽑아내기



# 일단 데이터 크기를 줄이고자 사용시간이 0이거나 Null인 앱 사용기록을 모두 지움
# 사용시간이 0이거나 Null인 앱 사용기록은 따로 usage_sum_time_zero로 저장

usage_sum_time_notzero = sample_AppUsage_usage_sum_time[lambda x: x.total_time != '0']
usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.total_time != '00:00:00' ]
usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.total_time !=  '0:0:0']
usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.total_time.notnull()]

sample_AppUsage_usage_sum_time['total_time'] = sample_AppUsage_usage_sum_time['total_time'].fillna('None')
sample_AppUsage_usage_sum_time['usage_zero'] = sample_AppUsage_usage_sum_time['total_time'].map(lambda x: 1 if x in [
    '0','00:00:00','0:0:0','None'] else 0)
usage_sum_time_zero = sample_AppUsage_usage_sum_time[lambda x: x.usage_zero == 1]

# app_name 결측치, panel_id 이상한거 처리하기

usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.app_name.notnull()]

panel_id_list = list(sample_AppUsage_usage_app_list['panel_id'].unique())
usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.panel_id.isin(panel_id_list)]

# 데이터 측정일시를 timestamp 객체로 바꾸고 사용시간 정리
# 사용시간이 음수인 데이터 제거 (총 62개의 row)

usage_sum_time_notzero['reg_date'] = usage_sum_time_notzero['reg_date'].map(
    lambda x: x[:10]).map(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d'))

usage_sum_time_notzero['total_time_hour'] = usage_sum_time_notzero['total_time'].map(lambda x: int(x.split(":")[0]))
usage_sum_time_notzero['total_time_minute'] = usage_sum_time_notzero['total_time'].map(lambda x: int(x.split(":")[1]))
usage_sum_time_notzero['total_time_second'] = usage_sum_time_notzero['total_time'].map(lambda x: int(x.split(":")[2]))
usage_sum_time_notzero['total_usage_time'] = round(
    usage_sum_time_notzero['total_time_hour']*60 
    + usage_sum_time_notzero['total_time_minute'] 
    + usage_sum_time_notzero['total_time_second']/60 , 1)

usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.total_usage_time >= 0]

usage_sum_time_notzero['reg_cnt'] = usage_sum_time_notzero['reg_cnt'].map(lambda x: int(x))

target_user = usage_sum_time_notzero[lambda x: 32< x.reg_cnt].groupby('panel_id')['reg_cnt'].nunique().reset_index()
target_user = target_user[lambda x: x.reg_cnt == 10]

reg_cnt_reg_date = usage_sum_time_notzero.groupby('reg_cnt')['reg_date'].unique().reset_index()
reg_cnt_reg_date['reg_date'] = reg_cnt_reg_date['reg_date'].map(lambda x: min(x))

In [16]:
# 앱데이터 타겟이 되는 패널에 대한 데이터만 추출

Location_target = sample_Location_in.merge(target_user, how='left', left_on='pid', right_on='panel_id' )
Location_target = Location_target[lambda x: x.reg_cnt.notnull()]

In [17]:
# 하루에 여러번 찍힌 장소데이터는 한번 간것으로 간주

Location_target['time'] = Location_target['time'].map(lambda x: str(x)[:10])
Location_target = Location_target.drop_duplicates(subset=['pid','time','placename'])

In [18]:
# 2018년 4월 30일 이후의 위치데이터만을 사용

Location_target['time'] = Location_target['time'].map(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d'))
target_start_date = datetime.datetime.strptime('2018-04-30','%Y-%m-%d')
Location_target = Location_target[lambda x: x.time >= target_start_date]

In [28]:
Location_target['pid'].nunique()

8605

In [19]:
# 타겟 패널 중 1076명은 위치데이터가 없음

len(target_user) - Location_target['pid'].nunique()

1076

In [20]:
len(target_user)

9681

In [47]:
target_user_for_merge = target_user.rename(columns={'panel_id':'pid'})

<br>
<br>
<br>
<br>

## 데이터 요약

In [21]:
# 타겟 패널의 3% 이상이 방문한 장소

target_freq_placename = Location_target.drop_duplicates(
    subset=['pid','placename'])['placename'].value_counts().reset_index()[lambda x: x.placename >= 300]

target_freq_placename.columns = ['placename', 'count_num']
target_freq_placename = target_freq_placename[lambda x: x.placename != '비식품'][lambda x: x.placename != '식품'][lambda x: x.placename != '식품/비식품'].reset_index(drop=True)

freq_placename = Location_target.merge(target_freq_placename, how='left', on='placename')[lambda x: x.count_num.notnull()]
freq_placename_matrix = freq_placename[['pid','placename']].groupby(
    ['pid'])['placename'].value_counts().unstack().reset_index()

freq_placename_matrix = freq_placename_matrix.fillna(0)
del freq_placename_matrix.columns.name

In [22]:
freq_placename_matrix.head()

,pid,CU,GS25,KFC,THE FACE SHOP,UNIQLO,다이소,던킨도너츠,뚜레쥬르,롯데리아,맘스터치,매표소/로비/휴게소,맥도날드,배스킨라빈스,버거킹,분당선,빽다방,서울5호선,설빙,세븐일레븐,스타벅스,엔제리너스,올리브영,이디야,투썸플레이스,파리바게뜨,푸드코트,할리스커피
0,A0002542,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A0003204,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A0003696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,A0003768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,A0008228,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# 약 3000명 정도는 저 장소 중 어느 곳도 방문한 기록이 없음

len(freq_placename_matrix)

6780

In [32]:
# 카테고리별 방문 횟수

freq_category = pd.DataFrame(Location_target.groupby('pid')['category'].value_counts())
freq_category_matrix = freq_category.unstack()
freq_category_matrix = freq_category_matrix.fillna(0).reset_index()
freq_category_matrix.columns = freq_category_matrix.columns.droplevel(level=0)
del freq_category_matrix.columns.name
freq_category_matrix = freq_category_matrix.rename(columns = {'' : 'pid'}).set_index('pid')

def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

freq_category_matrix_dummy = freq_category_matrix.applymap(encode_units)

cat_sum = freq_category_matrix_dummy.sum().reset_index()
cat_sum.columns = ['cat_name','count_num']
cat_sum = cat_sum.sort_values(by='count_num', ascending=False)[lambda x: x.count_num >= 500].reset_index(drop=True)

freq_category_matrix = freq_category_matrix[list(cat_sum['cat_name'])]
freq_category_matrix = freq_category_matrix.reset_index()

In [33]:
freq_category_matrix.head()

,pid,Coffee Shop,Korean Food Restaurants,Subway Station,Convenience Store,Discount Department Store,Burger/Sandwich,Bakery,Clothing Store,Japanese Food Restaurants,Supermarket,Snack Bar,Cosmetics Shop,Others(Restaurants),Household Goods,Bank,Western Food Restaurants,Hair Salon,Icecream Shop,Movie Theater,Subway Train,Chinese Food Restaurants,Grocery Store,Chicken,Department Store,Pharmacy,Mobile Phone Shop,Drug Store,Others(Bakery/Dessert),Others(Others),Bookstore,Bar,Dental Clinic,Stationery Shop,Real Estate Agency,Shoe Store,Electronics Shop,General Hospital,Pizza,Karaoke
0,A0002542,0.0,0.0,4.0,7.0,2.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A0003204,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A0003696,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A0003768,1.0,4.0,0.0,0.0,2.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A0008228,1.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
len(freq_category_matrix)

8605

In [35]:
# 다음 과정을 위한 지역 전처리

Location_target['address'] = Location_target['address'].fillna('불명')
Location_target['address'] = Location_target['address'].map(lambda x: '불명' if x == 'None' else x)

Location_target['address_split'] = Location_target['address'].map(lambda x: str(x).split(' '))
Location_target['address_split'] = Location_target['address_split'].map(lambda x: ['불명','불명'] if '불명' in x else x)

Location_target['address_city'] = Location_target['address_split'].map(lambda x: x[0])
Location_target['address_district'] = Location_target['address_split'].map(lambda x: x[1] if len(x)>1 else 'None')

Location_target['address_city'] = Location_target['address_city'].map(lambda x: 
                                        '서울' if x in ['서울','서울특별시','서울시'] 
                                        else '경기' if x in ['경기','경기도']
                                        else '인천' if x in ['인천','인천광역시','인천시']
                                        else '부산' if x in ['부산','부산광역시','부산시']
                                        else '대전' if x in ['대전','대전시','대전광역시']
                                        else '경남' if x in ['경남','경상남도']
                                        else '경북' if x in ['경북','경상북도']
                                        else '대구' if x in ['대구','대구광역시']
                                        else '광주' if x in ['광주','광주광역시']
                                        else '전북' if x in ['전북','전라북도']
                                        else '울산' if x in ['울산','울산광역시']
                                        else '전남' if x in ['전남','전라남도']
                                        else '강원' if x in ['강원','강원도']
                                        else '충북' if x in ['충북','충청북도']
                                        else '제주' if x in ['제주','제주특별자치도']
                                        else '세종' if x in ['세종','세종특별자치시']
                                        else '충남' if x in ['충남','충청남도']
                                        else x
                                                                    )

In [36]:
freq_city = pd.DataFrame(Location_target[lambda x: x.address_city != '불명'].groupby('pid')['address_city'].value_counts())
freq_city.columns = ['count']
freq_city = freq_city.reset_index()

freq_city_list = pd.DataFrame(freq_city.groupby('pid')['address_city'].unique())
freq_city_list['Main_city'] = freq_city_list['address_city'].map(lambda x: x[0] if len(x) >= 1 else 'None' )
freq_city_list['City_count'] = freq_city_list['address_city'].map(lambda x: len(x))
del freq_city_list['address_city']
freq_city_list['City_count'] = freq_city_list['City_count'].map(lambda x: str(x))

freq_city_list = freq_city_list.reset_index()

In [37]:
freq_city_list.head()

        pid Main_city City_count
0  A0002542        경기          2
1  A0003204        인천          3
2  A0003696        서울          1
3  A0003768        경기          1
4  A0008228        대전          2

In [38]:
len(freq_city_list)

8595

In [39]:
# floor, lat, lng

freq_floor_latlon = Location_target.groupby(['pid']).agg({"floor":"mean", "lat":"mean", "lng":"mean"}).reset_index()
freq_floor_latlon.head()

        pid     floor        lat         lng
0  A0002542  0.541667  37.468860  127.091184
1  A0003204  0.727273  37.480777  126.726113
2  A0003696  1.000000  37.606263  127.031478
3  A0003768  2.277778  37.265267  127.050818
4  A0008228 -0.062500  36.485481  127.318642

In [40]:
len(freq_floor_latlon)

8605

In [42]:
# time과 freq 

sample_Location_duplicate = Location_target.dropna(thresh=11)
# sample_Location_duplicate['time'] = sample_Location_duplicate['time'].map(lambda x: x.split('.')[0]).map(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))

sample_Location_strptime = sample_Location_duplicate.groupby('pid')['time'].agg([min,max])
sample_Location_strptime['diff'] = sample_Location_strptime['max'] - sample_Location_strptime['min']
sample_Location_strptime['diff'] = sample_Location_strptime['diff'].map(lambda x: str(x).split(" ")[0])
sample_Location_strptime['min_month'] = sample_Location_strptime['min'].map(lambda x: str(x)[:7])
sample_Location_strptime['max_month'] = sample_Location_strptime['max'].map(lambda x: str(x)[:7])

sample_Location_strptime = sample_Location_strptime.reset_index()

sample_Location_length = Location_target[lambda x: x.in_near == 'In']['pid'].value_counts().reset_index()
sample_Location_length.columns = ['pid', 'count']

sample_Location_len_strp = sample_Location_length.merge(sample_Location_strptime, how='inner', on='pid')
sample_Location_len_strp['diff'] = sample_Location_len_strp['diff'].map(lambda x: int(x))
sample_Location_len_strp['count_diff_ratio'] = (sample_Location_len_strp['count']/sample_Location_len_strp['diff']).round(1)


sample_Location_len_strp.head(10)

,pid,count,min,max,diff,min_month,max_month,count_diff_ratio
0,P0154551,247,2018-04-30,2018-07-01,62,2018-04,2018-07,4.0
1,I0580577,239,2018-05-01,2018-07-01,61,2018-05,2018-07,3.9
2,P0062835,234,2018-04-30,2018-07-01,62,2018-04,2018-07,3.8
3,P0096293,233,2018-04-30,2018-07-01,62,2018-04,2018-07,3.8
4,H0007228,232,2018-04-30,2018-07-01,62,2018-04,2018-07,3.7
5,P0162226,210,2018-04-30,2018-07-01,62,2018-04,2018-07,3.4
6,P0031421,203,2018-04-30,2018-07-01,62,2018-04,2018-07,3.3
7,I0135117,199,2018-04-30,2018-07-01,62,2018-04,2018-07,3.2
8,M0128258,195,2018-04-30,2018-07-01,62,2018-04,2018-07,3.1
9,P0206952,193,2018-04-30,2018-07-01,62,2018-04,2018-07,3.1

In [43]:
len(sample_Location_len_strp)

8605

In [50]:
# merge!
Location_final = (
target_user_for_merge.merge(freq_placename_matrix, how='left', on='pid')
    .merge(freq_category_matrix, how='left', on='pid')
    .merge(freq_city_list, how='left', on='pid')
    .merge(freq_floor_latlon, how='left', on='pid')
    .merge(sample_Location_len_strp, how='left', on='pid')
)

new_columns = ['pid']

for col in Location_final.columns[1:] :
    new_col = "Location_" + col
    new_columns.append(new_col)
    
Location_final.columns = new_columns

del Location_final['Location_reg_cnt']

In [51]:
Location_final.head(1)

,pid,Location_CU,Location_GS25,Location_KFC,Location_THE FACE SHOP,Location_UNIQLO,Location_다이소,Location_던킨도너츠,Location_뚜레쥬르,Location_롯데리아,Location_맘스터치,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_버거킹,Location_분당선,Location_빽다방,Location_서울5호선,Location_설빙,Location_세븐일레븐,Location_스타벅스,Location_엔제리너스,Location_올리브영,Location_이디야,Location_투썸플레이스,Location_파리바게뜨,Location_푸드코트,Location_할리스커피,Location_Coffee Shop,Location_Korean Food Restaurants,Location_Subway Station,Location_Convenience Store,Location_Discount Department Store,Location_Burger/Sandwich,Location_Bakery,Location_Clothing Store,Location_Japanese Food Restaurants,Location_Supermarket,Location_Snack Bar,Location_Cosmetics Shop,Location_Others(Restaurants),Location_Household Goods,Location_Bank,Location_Western Food Restaurants,Location_Hair Salon,Location_Icecream Shop,Location_Movie Theater,Location_Subway Train,Location_Chinese Food Restaurants,Location_Grocery Store,Location_Chicken,Location_Department Store,Location_Pharmacy,Location_Mobile Phone Shop,Location_Drug Store,Location_Others(Bakery/Dessert),Location_Others(Others),Location_Bookstore,Location_Bar,Location_Dental Clinic,Location_Stationery Shop,Location_Real Estate Agency,Location_Shoe Store,Location_Electronics Shop,Location_General Hospital,Location_Pizza,Location_Karaoke,Location_Main_city,Location_City_count,Location_floor,Location_lat,Location_lng,Location_count,Location_min,Location_max,Location_diff,Location_min_month,Location_max_month,Location_count_diff_ratio
0,A0002542,5.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,7.0,2.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,경기,2,0.541667,37.46886,127.091184,24.0,2018-05-29,2018-06-29,31.0,2018-05,2018-06,0.8

In [52]:
len(Location_final)

9681

In [53]:
Location_final.to_csv('Location_final.csv', index=False)

<br>
<br>
<br>
<br>
<br>
<br>
<br>

## EDA

In [ ]:
# 2017년의 데이터보다는 2018년의 데이터가 많고, 특히 2018년 1월에 집계된 데이터가 많음

sample_Location_month = sample_Location['time'].map(lambda x: x[:7]).reset_index().groupby('time').count()

plt.figure(figsize=(12,6))

sns.barplot(x=sample_Location_month.index, y=sample_Location_month['index'],  color='#ff796c')
sns.despine()

plt.xlabel('Month', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title('Number of Location data (Month)', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

plt.show()

In [ ]:
# in_near == 'In'인 데이터만 따로 보아도 비슷한 패턴

sample_Location_month = sample_Location[lambda x: x.in_near == 'In']['time'].map(lambda x: x[:7]).reset_index().groupby('time').count()

plt.figure(figsize=(12,6))

sns.barplot(x=sample_Location_month.index, y=sample_Location_month['index'],  color='#ff796c')
sns.despine()

plt.xlabel('Month', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title("Number of Location data (Month, 'In' only)", fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

plt.show()

In [ ]:
# 데이터가 수집된 첫 시점과 마지막 시점
# 작년 9월 6일부터 올해 7월 1일까지의 패널 이동 데이터가 담겨있음

sample_Location_time = sample_Location['time'].map(lambda x: x.split('.')[0])
sample_Location_time = sample_Location_time.map(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
# sample_Loaction_time = sample_Loaction['time'].map(lambda x: datetime.datetime.strftime(x,'%Y-%m-%d %H:%M:%S'))
print('min :', sample_Location_time.min(), ' , ' , 'max :', sample_Location_time.max())

In [ ]:
# 각 패널마다 데이터 수집이 시작된 시점과 끝난 시점이 각각 다르지 않을까?
# 데이터 수집이 시작된 17년 9월부터 위치데이터가 포착된 패널이 많긴 하지만, 이후 꾸준히 일정 수의 패널이 추가되는 모습
# 끝난 시점은 대부분 18년 6월으로 비슷하긴 하지만, 그 이전부터도 포착이 종료된 사람들이 있음
# 데이터가 수집된 기간은 각자 0일부터 280일까지 다양함
# 위치데이터 수집 기간이 패널마다 제각각이라는 것을 확인


sample_Location_duplicate = sample_Location.dropna(thresh=11)
sample_Location_duplicate['time'] = sample_Location_duplicate['time'].map(lambda x: x.split('.')[0]).map(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))

sample_Location_strptime = sample_Location_duplicate.groupby('pid')['time'].agg([min,max])
sample_Location_strptime['diff'] = sample_Location_strptime['max'] - sample_Location_strptime['min']
sample_Location_strptime['diff'] = sample_Location_strptime['diff'].map(lambda x: str(x).split(" ")[0])
sample_Location_strptime['min_month'] = sample_Location_strptime['min'].map(lambda x: str(x)[:7])
sample_Location_strptime['max_month'] = sample_Location_strptime['max'].map(lambda x: str(x)[:7])


plt.figure(figsize=(20,6))

plt.subplot(131)
sample_Location_strptime_min_month = sample_Location_strptime['min_month'].reset_index().groupby('min_month').count()
sns.barplot(x=sample_Location_strptime_min_month.index, y=sample_Location_strptime_min_month['pid'],  color='#ff796c')
sns.despine()
plt.xlabel('Month', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title("Start Point", fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)

plt.subplot(132)
sample_Location_strptime_max_month = sample_Location_strptime['max_month'].reset_index().groupby('max_month').count()
sns.barplot(x=sample_Location_strptime_max_month.index, y=sample_Location_strptime_max_month['pid'],  color='#ff796c')
sns.despine()
plt.xlabel('Month', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title("End Point", fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)

plt.subplot(133)
sample_Location_strptime_diff = sample_Location_strptime['diff'].reset_index().groupby('diff').count().reset_index()
sample_Location_strptime_diff['diff'] = sample_Location_strptime_diff['diff'].map(lambda x: int(x))//10*10
sample_Location_strptime_diff = sample_Location_strptime_diff.sort_values(by='diff')
sns.barplot(x='diff', y='pid', data=sample_Location_strptime_diff, color='#ff796c')
sns.despine()
plt.xlabel('Month', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title("Difference Histogram", fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)

plt.show()

In [ ]:
sample_Location_strptime.head()

In [ ]:
# 역시 In에 해당하는 데이터보다는 근처를 지나간 Near 데이터가 더 많았음

sample_Location_in_near = sample_Location['in_near'].value_counts()

plt.figure(figsize=(6,6))

sns.barplot(x=sample_Location_in_near.index, y=sample_Location_in_near.values,  color='#ff796c')
sns.despine()

plt.xlabel('In or Near', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title('Location (In or Near)', fontsize=30)
plt.rc('xtick', labelsize=20) 
plt.rc('ytick', labelsize=10) 

plt.show()

In [ ]:
# 단말기 근처를 지나간 것(Near)은 중요한 정보가 되지 못하므로, In인 경우에 한하여 각 패널당 어느 정도의 데이터가 집계되었는지 확인
# 0 -> 0~99개의 데이터, 100 -> 100~199개의 데이터, ....
# 대부분의 패널이 300개 미만의 위치 데이터를 제공하였음
# 생각보다 위치 데이터 정보의 질이 좋지 못함....

Location_count = sample_Location[lambda x: x.in_near == 'In']['pid'].value_counts().map(lambda x: x//100*100).value_counts()

plt.figure(figsize=(12,6))
plt.xlabel('Location(In) Counted', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title('Number of Location data per Panel', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

sns.barplot(x=Location_count.index, y=Location_count.values,  color='#ff796c')
sns.despine()

plt.show()

In [ ]:
# 집계된 데이터의 수와 기간 사이에는 양의 상관관계가 있을까?
# 상식적으로 집계 기간이 길수록 포착된 데이터도 많아야 할 것이다

sample_Location_strptime = sample_Location_strptime.reset_index()

sample_Location_length = sample_Location[lambda x: x.in_near == 'In']['pid'].value_counts().reset_index()
sample_Location_length.columns = ['pid', 'count']

sample_Location_len_strp = sample_Location_length.merge(sample_Location_strptime, how='inner', on='pid')
sample_Location_len_strp['diff'] = sample_Location_len_strp['diff'].map(lambda x: int(x))
sample_Location_len_strp['count_diff_ratio'] = (sample_Location_len_strp['count']/sample_Location_len_strp['diff']).round(1)

In [ ]:
# 일단 보기에는 기간에 상관없이 300건 미만으로 집계된 패널이 다수
# 어쨌든 기간이 길어질수록 집계되는 위치데이터도 많아지긴 함

plt.figure(figsize=(12,8))

sns.regplot(x="diff", y="count", data=sample_Location_len_strp, color='#ff796c' )

plt.xlabel('Duration (Day)', fontsize=20)
plt.ylabel('Location data (Counted)', fontsize=20)
plt.title('Scatterplot (Duration & Num of counted data)', fontsize=30)
plt.rc('xtick', labelsize=20) 
plt.rc('ytick', labelsize=10) 

plt.show()

In [ ]:
# 집계기간과 집계된 데이터 수의 비율
# 가장 많이 집계된 0.1 의 의미 : 하루에 집계된 데이터 수가 0.1개~0.1999개 (5일~10일에 한번 꼴로 위치데이터 들어옴)
# 로플랫 단말기가 있는 곳을 안가서일까? 하루에 1번 이상 집계된 사람이 드물 정도...

sample_Location_ratio = sample_Location_len_strp.groupby('count_diff_ratio')['pid'].count()

plt.figure(figsize=(20,6))
plt.xlabel('count_diff_ratio', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title('Count_Diff_ratio', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)

sns.barplot(x=sample_Location_ratio.index, y=sample_Location_ratio.values, color='#ff796c')
sns.despine()

plt.show()

In [ ]:
# 총 156,569곳의 위치에 대한 데이터

len(sample_Location['placename'].value_counts())

In [ ]:
# 사람들이 가장 많이 방문한 곳 상위 30개
# 편의점과 까페가 상위권을 차지하고 있음

Location_placename_top30 = sample_Location[lambda x: x.in_near == 'In']['placename'].value_counts()[:30]

plt.figure(figsize=(12,6))
plt.xlabel('Frequency', fontsize=20)
plt.ylabel('Placename (Top 30)', fontsize=20)
plt.title('Location Placename Top 30', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

sns.barplot(x=Location_placename_top30.values, y=Location_placename_top30.index,  color='#ff796c')
sns.despine()


plt.show()

In [ ]:
# 총 216개의 카테고리가 존재

len(sample_Location['category'].value_counts())

In [ ]:
# 빈도가 높은 카테고리 상위 30개
# 지하철, 카페, 한식점, 편의점, 아울렛 순으로 방문 기록이 많음

Location_category_top30 = sample_Location[lambda x: x.in_near == 'In']['category'].value_counts()[:30]

plt.figure(figsize=(12,6))
plt.xlabel('Frequency', fontsize=20)
plt.ylabel('Category (Top 30)', fontsize=20)
plt.title('Location Category Top 30', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

sns.barplot(x=Location_category_top30.values, y=Location_category_top30.index,  color='#ff796c')
sns.despine()

plt.show()

In [ ]:
sample_Location_address = sample_Location['address'].map(lambda x: str(x).split(" ")[0]).map(lambda x: 
                                                                   '서울' if x in ['서울','서울특별시','서울시'] 
                                                                   else '경기' if x in ['경기','경기도']
                                                                   else '인천' if x in ['인천','인천광역시','인천시']
                                                                   else '부산' if x in ['부산','부산광역시','부산시']
                                                                   else '대전' if x in ['대전','대전시','대전광역시']
                                                                   else '경남' if x in ['경남','경상남도']
                                                                   else '경북' if x in ['경북','경상북도']
                                                                   else '대구' if x in ['대구','대구광역시']
                                                                   else '광주' if x in ['광주','광주광역시']
                                                                   else '전북' if x in ['전북','전라북도']
                                                                   else '울산' if x in ['울산','울산광역시']
                                                                   else '전남' if x in ['전남','전라남도']
                                                                   else '강원' if x in ['강원','강원도']
                                                                   else '충북' if x in ['충북','충청북도']
                                                                   else '제주' if x in ['제주','제주특별자치도']
                                                                   else '세종' if x in ['세종','세종특별자치시']
                                                                   else '충남' if x in ['충남','충청남도']
                                                                   else x
                                                                    ).value_counts()

In [ ]:
# 서울 및 경기 지역에서 포착된 데이터가 압도적으로 많은 것을 확인

sample_Location_address = sample_Location_address[lambda x: x.index != 'nan'][lambda x: x.index != 'None'][lambda x: x.values > 10]

plt.figure(figsize=(12,6))
plt.xlabel('Frequency', fontsize=20)
plt.ylabel('지역명', fontsize=20)
plt.title('지역별 Location 수', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

sns.barplot(x=sample_Location_address.values, y=sample_Location_address.index,  color='#ff796c')
sns.despine()

plt.show()

In [ ]:
# Floor는 역시 1층이 압도적, 지하나 지상의 데이터도 어느 정도 관찰됨

sample_Location_floor = sample_Location['floor'][lambda x: x.notnull()].reset_index().groupby('floor').count().reset_index()

plt.figure(figsize=(12,6))
plt.xlabel('Frequency', fontsize=20)
plt.ylabel('Floor', fontsize=20)
plt.title('Location Floor', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)

sns.barplot(x='floor', y='index', data= sample_Location_floor,  color='#ff796c')
sns.despine()

plt.show()

In [ ]:
sample_Location.head()

In [ ]:
# 306,896개의 loplat 단말기가 포착

sample_Location['loplat_id'].nunique()

In [ ]:
# 단말기를 많이 가지고 있는 Placename top50
# 전부 프랜차이즈 업종, 까페와 편의점이 상위권을 차지


sample_Location_loplat_num = sample_Location.groupby('placename')['loplat_id'].nunique().reset_index().sort_values(by='loplat_id', ascending=False)
sample_Location_loplat_top50 = sample_Location_loplat_num.head(50)

plt.figure(figsize=(12,12))
plt.xlabel('Frequency', fontsize=20)
plt.ylabel('Placename (Top 50)', fontsize=20)
plt.title('loplat 단말기를 많이 가지고 있는 placename top 50', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

sns.barplot(x='loplat_id', y='placename', data=sample_Location_loplat_top50, color='#ff796c')
sns.despine()

plt.show()

In [ ]:
# 306896개의 장소 중 사람들이 많이 방문한 곳 top 100

sample_Location_popular_loplat = (
                                    sample_Location[lambda x: x.in_near == 'In'].groupby('loplat_id')['idx'].count()
                                      .sort_values(ascending=False)[:100]
                                      .reset_index()
                                      .iloc[0:100,:]
)

sample_Location_loplat_dict = sample_Location.drop_duplicates(subset='loplat_id')[['placename','address','loplat_id']]
sample_Location_popular_loplat = sample_Location_popular_loplat.merge(sample_Location_loplat_dict, how='inner', on='loplat_id')
sample_Location_popular_loplat.columns = ['loplat_id', 'count', 'placename', 'address']

In [ ]:
# 프랜차이즈가 많이 포착되었던 placename EDA 결과와는 상이한 모습
# 개별 지점별로 보았을 때에는 병원, 식당, 할인매장 등 다양한 업종의 매장이 상위권에 랭크됨

plt.figure(figsize=(12,20))
plt.xlabel('Frequency', fontsize=20)
plt.ylabel('Placename (Top 100)', fontsize=20)
plt.title('loplat 단말기 포착 빈도 기준 가장 많이 방문한 지점 top 100', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

sns.barplot(x='count', y='placename', data=sample_Location_popular_loplat, color='#ff796c')
sns.despine()

plt.show()

In [ ]:
# 306896개의 장소 중 사람들이 많이 방문한 곳 top 100 지역별 분석

sample_Location_loplat_address = sample_Location_popular_loplat['address'].map(lambda x: x.split(" ")[0]).map(lambda x: 
                                                                   '서울' if x in ['서울','서울특별시','서울시'] 
                                                                   else '경기' if x in ['경기','경기도']
                                                                   else '인천' if x in ['인천','인천광역시','인천시']
                                                                   else '부산' if x in ['부산','부산광역시','부산시']
                                                                   else '대전' if x in ['대전','대전시','대전광역시']
                                                                   else '경남' if x in ['경남','경상남도']
                                                                   else '경북' if x in ['경북','경상북도']
                                                                   else '대구' if x in ['대구','대구광역시']
                                                                   else '광주' if x in ['광주','광주광역시']
                                                                   else '전북' if x in ['전북','전라북도']
                                                                   else '울산' if x in ['울산','울산광역시']
                                                                   else '전남' if x in ['전남','전라남도']
                                                                   else '강원' if x in ['강원','강원도']
                                                                   else '충북' if x in ['충북','충청북도']
                                                                   else '제주' if x in ['제주','제주특별자치도']
                                                                   else '세종' if x in ['세종','세종특별자치시']
                                                                   else '충남' if x in ['충남','충청남도']
                                                                   else x
                                                                    ).value_counts()

In [ ]:
# 역시 서울,경기가 대다수이지만 다른 지역들도 생각보다 많이 보임

plt.figure(figsize=(12,6))
plt.xlabel('Frequency', fontsize=20)
plt.ylabel('지역명', fontsize=20)
plt.title('지역별 top100 loplat_id 수', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

sns.barplot(x=sample_Location_loplat_address.values, y=sample_Location_loplat_address.index,  color='#ff796c')
sns.despine()

plt.show()

In [ ]:
# 서울시만 보면 강동구, 강남구, 영등포구에 핫플레이스가 많은 것으로 확인됨 

sample_Location_popular_loplat['Seoul_or_not'] = sample_Location_popular_loplat['address'].map(lambda x: 1 if '서울' in x else 0)
sample_Location_popular_gu = sample_Location_popular_loplat[lambda x: x.Seoul_or_not == 1]['address'].map(lambda x: x.split(" ")[1]).reset_index().groupby('address').count().sort_values(by='index',ascending=False).reset_index()

plt.figure(figsize=(12,6))
plt.xlabel('Frequency', fontsize=20)
plt.ylabel('구', fontsize=20)
plt.title('구별 top100 loplat_id 수', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

sns.barplot(x='index', y='address', data=sample_Location_popular_gu, color='#ff796c')
sns.despine()

plt.show()

<br>
<br>
<br>
<br>
<br>
# 편의점?
<br>
1. 일정 기간 내에 
2. 해당 매장을 
3. 몇 회 방문했는가?

<br>
편의점은 음... 최소한 일주일에 한번은 가야 자주 간다고 말할 수 있지 않을까?
<br>

In [ ]:
sample_Location.head(2)

In [ ]:
# 수많은 편의점들....
# 같은 프랜차이즈는 같은 이름으로 처리해주는 전처리 필요

sample_Location[lambda x: x.category == 'Convenience Store']['placename'].value_counts()

In [ ]:
location_conv = sample_Location[lambda x: x.category == 'Convenience Store']

In [ ]:
len(location_conv)

In [ ]:
location_conv['placename_company'] = location_conv['placename'].map(lambda x: 'CU' if 'CU' in str(x)
                                      else 'GS25' if 'GS25' in str(x)
                                      else '세븐일레븐' if '세븐일레븐' in str(x)
                               
                                      else '이마트24' if '이마트24' in str(x)
                                      else '이마트24' if 'emart24' in str(x)
                                      else '이마트24' if 'emart 24' in str(x)
                               
                                      else '미니스톱' if '미니스톱' in str(x)
                               
                                      else '스토리웨이' if '스토리웨이' in str(x)
                                      else '스토리웨이' if 'storyway' in str(x)
                                      else '스토리웨이' if 'StoryWay' in str(x)
                                      else '스토리웨이' if 'Story way' in str(x)

                                      else '수협편의점' if '수협편의점' in str(x)
                                      else '365PLUS' if '365PLUS' in str(x)
                                      else '플러스24' if '플러스24' in str(x)
                               
                                      else '씨스페이스' if 'C SPACE' in str(x)
                                      else '씨스페이스' if '씨스페이스' in str(x)

                                      else '기타'
                              )

In [ ]:
location_conv['placename_company'].value_counts()

In [ ]:
location_conv.head(2)

In [ ]:
# 편의점 근처라도 간 사람은 총 13657명

location_conv['pid'].nunique()

In [ ]:
# 편의점에 실제로 방문한 기록은 5만개
location_conv_in = location_conv[lambda x: x.in_near == 'In']
len(location_conv_in)

In [ ]:
# 편의점 안에 한번이라도 들어간 사람은 총 9368명으로 전체 샘플 패널의 약 50%

location_conv_in['pid'].nunique()

In [ ]:
# 전체 편의점에 대하여 보통 1~3회 방문
# 어디든 2번 이상 간 데이터가 잘 없네...

conv_count = location_conv_in.groupby('pid')['placename_company'].count().reset_index().groupby('placename_company').count()

plt.figure(figsize=(20,6))
plt.xlabel('편의점 방문 횟수', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title('패널의 편의점 방문 횟수 (전체)', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)

sns.barplot(x=conv_count.index, y=conv_count['pid'], data=conv_count, color='#ff796c')
sns.despine()

plt.show()

In [ ]:
location_conv_in.head(2)

In [ ]:
# 대표 프랜차이즈 별로 살펴봐도 마찬가지...
# 기간별로 나누면 일주일에 1회는 커녕....

cu_count = location_conv_in[lambda x: x.placename_company == 'CU'].groupby('pid')['placename_company'].count().reset_index().groupby('placename_company').count()
gs_count = location_conv_in[lambda x: x.placename_company == 'GS25'].groupby('pid')['placename_company'].count().reset_index().groupby('placename_company').count()
sev_count = location_conv_in[lambda x: x.placename_company == '세븐일레븐'].groupby('pid')['placename_company'].count().reset_index().groupby('placename_company').count()


plt.figure(figsize=(30,6))

plt.subplot(131)
plt.xlabel('편의점 방문 횟수', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title('패널의 편의점 방문 횟수 (CU)', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)
sns.barplot(x=cu_count.index, y=cu_count['pid'], data=cu_count, color='#ff796c')
sns.despine()

plt.subplot(132)
plt.xlabel('편의점 방문 횟수', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title('패널의 편의점 방문 횟수 (GS25)', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)
sns.barplot(x=gs_count.index, y=gs_count['pid'], data=gs_count, color='#ff796c')
sns.despine()

plt.subplot(133)
plt.xlabel('편의점 방문 횟수', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title('패널의 편의점 방문 횟수 (세븐일레븐)', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)
sns.barplot(x=sev_count.index, y=sev_count['pid'], data=sev_count, color='#ff796c')
sns.despine()

plt.show()

In [ ]:
# 개인의 데이터 수집 기간에 맞춰 편의점 방문 빈도를 보자 (각자 수집기간이 다른 것에 따른 정규화)
# 적어도 1주일에 한번 편의점을 간 사람이 몇 명이나 있을까?

strptime_diff = sample_Location_strptime.reset_index()[['pid','diff']]
location_conv_in = location_conv_in.merge(strptime_diff, how='inner', on='pid' )

conv_diff = location_conv_in.groupby(['pid','diff'])['placename_company'].count().reset_index()
conv_diff['diff_week'] = conv_diff['diff'].map(lambda x: (int(x)//7)+1)
conv_diff['visit_ratio'] = round(conv_diff['placename_company']/conv_diff['diff_week'],1)

In [ ]:
conv_diff_count = conv_diff.groupby('visit_ratio')['pid'].count()

In [ ]:
# 1주일에 1회 이상 방문한 사람은 매우 적음

plt.figure(figsize=(20,6))
plt.xlabel('편의점 방문 횟수 (주 단위)', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title('패널의 편의점 방문 횟수 (주 단위)', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)

sns.barplot(x=conv_diff_count.index, y=conv_diff_count.values, color='#ff796c')
sns.despine()

plt.show()

In [ ]:
# 전체 패널 중 고작 500명... 전체의 약 2.7% 정도

len(conv_diff[lambda x: x.visit_ratio >= 1])

In [ ]:
# 2주에 1번 이상 간 사람은 1383명... 전체의 약 7.5%
# 이 정도가 편의점 진성 고객 기준으로 그나마 맞는 듯

len(conv_diff[lambda x: x.visit_ratio >= 0.5])

In [ ]:
conv_loyal_list = list(conv_diff[lambda x: x.visit_ratio >= 0.5]['pid'].unique())
location_conv_in_loyal = location_conv_in[lambda x: x.pid.isin( conv_loyal_list)]
location_conv_in_loyal['major_conv'] = location_conv_in_loyal['placename_company'].map(
                                            lambda x: x if ((x == 'CU')|(x == 'GS25')|(x=='세븐일레븐')) else '기타편의점')

In [ ]:
loyal_major_count = location_conv_in_loyal.groupby(['pid','major_conv'])['idx'].count().reset_index()

lmc_demo = pd.DataFrame(loyal_major_count['pid'].unique())
lmc_demo = pd.concat([lmc_demo,lmc_demo,lmc_demo,lmc_demo])
lmc_demo['major_conv'] = ('CU.'*1383 + 'GS25.'*1383 + '세븐일레븐.'*1383 + '기타편의점.'*1383).split('.')[:-1]
lmc_demo.columns = ['pid','major_conv']

lmc = lmc_demo.merge(loyal_major_count, how='left', on=['pid','major_conv'])
lmc = lmc.fillna(0)

lmc_sum = lmc.groupby('pid')['idx'].sum().reset_index()
lmc_sum.columns = ['pid', 'sum']
lmc = lmc.merge(lmc_sum, how='left', on='pid')
lmc['major_visit_ratio'] = (lmc['idx']/lmc['sum'])*100

In [ ]:
# 주로 GS를 가고, 씨유와 세븐일레븐이 또이또이 하지만 어쨌든 어느 매장이든 충성도 높은 고객은 존재

plt.figure(figsize=(10,10))

pal1 = sns.color_palette("BrBG", 4)
sns.boxplot(x = 'major_conv', y = 'major_visit_ratio', data = lmc, palette=pal1 ,notch = True )
plt.xlabel('대표 편의점', fontsize=20)
plt.ylabel('방문 비중(%)', fontsize=20)
plt.title('편의점 주요고객층의 대표 편의점 방문 비율', fontsize=30)

plt.show()

<br>
<br>
<br>
<br>

# sample_AppUsage

---

In [ ]:
sample_AppUsage_usage_app_list.head()

In [ ]:
# 총 2,977,761개의 데이터

len(sample_AppUsage_usage_app_list)

In [ ]:
# 패널 수는 역시 18463명으로 누락된 패널 없음

sample_AppUsage_usage_app_list['panel_id'].nunique()

In [ ]:
# 무시할만한 수준의 결측치

sample_AppUsage_usage_app_list.isnull().sum()

In [ ]:
# 결측치 있는 row 제거

sample_AppUsage_usage_app_list = sample_AppUsage_usage_app_list.dropna()

In [ ]:
# 패널당 평균적으로 약 150개 정도의 app이 관찰되는 것을 확인

sample_AppUsage_count = sample_AppUsage_usage_app_list['panel_id'].value_counts().map(lambda x: x//10*10).value_counts()

plt.figure(figsize=(12,6))
plt.xlabel('Appusage Counted', fontsize=20)
plt.ylabel('Frequency', fontsize=20)
plt.title('App number (Groupby : panel)', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)

sns.barplot(x=sample_AppUsage_count.index, y=sample_AppUsage_count.values,  color='#ff796c')
sns.despine()

plt.show()

In [ ]:
# 많은 양의 데이터가 7월 2일에 수집된 것을 확인, 그러나 다른 날에 데이터가 수집된 패널도 다수 존재

sample_AppUsage_date = sample_AppUsage_usage_app_list['reg_date'].map(lambda x: x[:10]).map(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d'))
sample_AppUsage_date_df = sample_AppUsage_date.reset_index().groupby('reg_date').count()
sample_AppUsage_date_df = sample_AppUsage_date_df.reset_index()
sample_AppUsage_date_df['reg_date'] = sample_AppUsage_date_df['reg_date'].map(lambda x: str(x)[:10])

plt.figure(figsize=(30,10))
plt.xlabel('Appusage Counted', fontsize=20)
plt.ylabel('Date', fontsize=20)
plt.title('App data counted (Groupby : reg_date)', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 
plt.xticks(rotation=90)

sns.barplot(x='reg_date', y='index', data=sample_AppUsage_date_df,  color='#ff796c')
sns.despine()

plt.show()

In [ ]:
# 7월 2일에 67%의 데이터가 수집됨

sample_AppUsage_usage_app_list['reg_date'].map(lambda x: x[:10]).value_counts()[0] / len(sample_AppUsage_usage_app_list['reg_date'])

In [ ]:
# 패널들의 앱 데이터는 어쨌든 각 개인에 한하여 '같은 시점'에 수집된 것임을 알 수 있음
# 그러나 각 패널 간 수집된 날짜는 각각 다름
# 패널간 등록 일시 (reg_date)에 차이가 있는 이유는 무엇이고, 왜 약 67%의 패널의 데이터가 7월 2일에 수집되었을까?

sample_AppUsage_usage_app_list['reg_date'] = sample_AppUsage_usage_app_list['reg_date'].map(lambda x: x[:10])
sample_AppUsage_usage_app_list.groupby('panel_id')['reg_date'].nunique().value_counts()

In [ ]:
# 총 50323개의 앱 관찰

sample_AppUsage_usage_app_list['app_name'].nunique()

In [ ]:
dict_app_name_modified = {'패널파워': 18498,
 'YouTube': 18477,
 'Chrome': 18456,
 'Gmail': 18446,
 '카카오톡': 17945,
 'Google': 17799,
 'AhnLab V3 Mobile Plus 2.0': 17489,
 'NAVER': 14891,
 'OK Cashbag': 11682,
 'Samsung Pay': 11473,
 'Samsung Location SDK': 11452,
 'Excel': 9899,
 '삼성 프린트 서비스 플러그인': 9805,
 'Syrup 월렛': 9694,
 'PowerPoint': 9650,
 'OneDrive': 9596,
 'Word': 9569,
 'Samsung Health': 9491,
 '11번가': 9386,
 'BAND': 9218,
 '모바일 T world': 9124,
 '삼성 계정': 9114,
 'T전화': 9028,
 'Instagram': 8972,
 'Facebook': 8789,
 'Always On Display': 8442,
 '해피포인트': 8291,
 '네이버 지도': 8229,
 'ISP/페이북': 7852,
 'T멤버십': 7726,
 '카카오스토리': 7180,
 '네이버 카페': 7088,
 '네이버 클라우드': 7082,
 'KB스타뱅킹': 7054,
 'ONE store Setup Wizard': 7053,
 '위메프': 7023,
 '카카오 T': 6942,
 'Samsung Gear': 6882,
 '쿠팡': 6664,
 'G마켓': 6514,
 'L.POINT': 6498,
 '티몬': 6456,
 '카카오뱅크': 6407,
 'CJ ONE': 6216,
 'Melon': 6178,
 'Duo': 6165,
 'NH뱅킹': 5712,
 'oksusu': 5665,
 '코레일톡': 5649,
 'SNOW': 5583,
 '신한 FAN (앱카드)': 5534,
 '배달의민족': 5532,
 'CGV': 5459,
 '후후': 5332,
 '신한 쏠(SOL)': 5251,
 'OneNote': 5229,
 '네이버 웹툰': 5094,
 '원터치개인': 5055,
 '다음': 5023,
 '하나멤버스': 4844,
 'PAYCO': 4840,
 '옥션': 4828,
 '카카오페이지': 4788,
 '토스': 4687,
 '네이버TV': 4569,
 '틸리언': 4530,
 'Google VR 서비스': 4522,
 '컬쳐랜드': 4451,
 'KEB 하나은행': 4387,
 'KT 멤버십': 4364,
 '캐시슬라이드': 4342,
 'U+ 고객센터': 4329,
 '알약M': 4317,
 '캐시워크': 4273,
 '카카오맵': 4089,
 '네이트': 3978,
 'GS SHOP': 3927,
 'Google Play 북': 3921,
 '패널나우': 3875,
 '지니 뮤직': 3869,
 '비디오포털': 3802,
 '리브메이트': 3798,
 '한컴오피스 viewer': 3678,
 '스타벅스': 3654,
 '신한카드': 3632,
 '오베이': 3627,
 '라임': 3609,
 'CJmall': 3601,
 '나만의냉장고': 3474,
 'KB국민카드': 3316,
 '올레 tv 모바일': 3309,
 'i-ONE뱅크': 3301,
 '클라우드베리': 3243,
 '알바몬': 3226,
 '배달요기요': 3201,
 'S노트': 3189,
 '롯데시네마': 3164,
 'Papago': 3104,
 '롯데홈쇼핑': 3073,
 '카카오버스': 3069,
 '네이버 블로그': 3049,
 '홈&쇼핑': 3029,
 '삼성카드': 2995,
 '인터파크': 2962,
 '서베이링크': 2954,
 '지하철종결자': 2912,
 '카카오톡 치즈': 2907,
 '모바일 티머니': 2907,
 '기프티콘': 2897,
 '이디야멤버스': 2873,
 'FaceProvider': 2865,
 '현대Hmall': 2852,
 'KB스타알림': 2778}

In [ ]:
Series_app_name_modified = pd.Series(dict_app_name_modified)

In [ ]:
# 많이 사용된 앱 중 기본 내장 어플을 주관적으로 삭제하고 남은 앱 중 상위 50개
# 네이버, 카카오 관련 앱이 많이 보임

app_top_50 = Series_app_name_modified.head(50)

plt.figure(figsize=(20,12))
plt.xlabel('Frequency', fontsize=20)
plt.ylabel('Appname', fontsize=20)
plt.title('App (Top50)', fontsize=30)
plt.rc('xtick', labelsize=10) 
plt.rc('ytick', labelsize=10) 

sns.barplot(x=app_top_50.values, y=app_top_50.index,  color='#ff796c')
sns.despine()

plt.show()

<br>
<br>
<br>
<br>

# sample_AppUsage_usage_sum_time

---

In [ ]:
sample_AppUsage_usage_sum_time.head()

In [ ]:
# 56,299,744개의 데이터

len(sample_AppUsage_usage_sum_time)

In [ ]:
# 결측치 확인
# reg_cnt는 수집된 기록차수 (각 개인당 몇번째로 수집된 기록인지)

sample_AppUsage_usage_sum_time.isnull().sum()

In [ ]:
# 일단 데이터 크기를 줄이고자 사용시간이 0이거나 Null인 앱 사용기록을 모두 지움

usage_sum_time_notzero = sample_AppUsage_usage_sum_time[lambda x: x.total_time != '0']
usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.total_time != '00:00:00' ]
usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.total_time !=  '0:0:0']
usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.total_time.notnull()]

In [ ]:
# 약 1378만 row로 데이터 수가 많이 줄어들게 됨!

len(usage_sum_time_notzero)

In [ ]:
# 다시 결측치 확인
# app_name 결측치 30개만 지워주면 될 듯 하다.

usage_sum_time_notzero.isnull().sum()

In [ ]:
# app_name 결측치, panel_id 이상한거 처리하기

usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.app_name.notnull()]

panel_id_list = list(sample_AppUsage_usage_app_list['panel_id'].unique())
usage_sum_time_notzero = usage_sum_time_notzero[lambda x: x.panel_id.isin(panel_id_list)]

In [ ]:
# 깔끔하게 정리된 결측치 확인

usage_sum_time_notzero.isnull().sum()

In [ ]:
# 최종 row 수

len(usage_sum_time_notzero)

In [ ]:
# 패널 4명은 실제 앱 사용 데이터가 없음

len(panel_id_list) - len(usage_sum_time_notzero['panel_id'].unique())

In [ ]:
usage_sum_time_notzero['reg_date'] = usage_sum_time_notzero['reg_date'].map(lambda x: x[:10]).map(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d'))

In [ ]:
usage_sum_time_notzero.head()

In [ ]:
usage_sum_time_notzero['total_time'].map(lambda x: x.split(":"))