<br>
<br>
<br>
# 연관규칙분석 - Lift를 기준으로...
<br>

---

In [1]:
import pandas as pd
import numpy as np
pd.set_option('max_columns',50)
pd.set_option('max_rows',100)

import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.font_manager as fm
import seaborn as sns
sns.set() 
%matplotlib inline 
%config InlineBackend.figure_format = 'retina' 
sns.set_style(style='white')
sns.set_context(context ='paper')

import datetime
import os

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
AR_Location = pd.read_csv('AR_target_location.csv')
AR_App = pd.read_csv('AR_target_app.csv')
AR_PS = pd.read_csv('AR_target_PS.csv')

<br>
<br>
<br>

## Data

위치데이터, 설문정보, 앱데이터를 모두 활용한 연관규칙 분석

<br>

In [3]:
AR_Location = (
AR_Location.rename(columns = {'CU':'Location_CU'})
    .rename(columns = {'GS25':'Location_GS25'})
    .rename(columns = {'다이소':'Location_다이소'})
    .rename(columns = {'뚜레쥬르':'Location_뚜레쥬르'})
    .rename(columns = {'롯데리아':'Location_롯데리아'})
    .rename(columns = {'매표소/로비/휴게소':'Location_매표소/로비/휴게소'})
    .rename(columns = {'맥도날드':'Location_맥도날드'})
    .rename(columns = {'배스킨라빈스':'Location_배스킨라빈스'})
    .rename(columns = {'세븐일레븐':'Location_세븐일레븐'})
    .rename(columns = {'스타벅스':'Location_스타벅스'})
    .rename(columns = {'올리브영':'Location_올리브영'})
    .rename(columns = {'이디야':'Location_이디야'})
    .rename(columns = {'투썸플레이스':'Location_투썸플레이스'})
    .rename(columns = {'파리바게뜨':'Location_파리바게뜨'})
)

In [4]:
AR_Location.head()

,pid,Location_CU,Location_GS25,Location_다이소,Location_뚜레쥬르,Location_롯데리아,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_세븐일레븐,Location_스타벅스,Location_올리브영,Location_이디야,Location_투썸플레이스,Location_파리바게뜨,Coffee Shop,Korean Food Restaurants,Subway Station,Convenience Store,Discount Department Store,Burger/Sandwich,Bakery,Clothing Store,Japanese Food Restaurants,Supermarket,...,Shoe Store,Electronics Shop,General Hospital,Pizza,Karaoke,Main_city_서울,Main_city_경기,Main_city_경상,Main_city_충청,Main_city_부산,Main_city_인천,Main_city_전라,City_count_1,City_count_2,City_count_3,City_count_more4,ratio_0.25,ratio_0.5,ratio_0.75,ratio_1,ratio_2,ratio_3,ratio_3to5,ratio_5to11,ratio_more11
0,A0002542,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,A0003204,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A0003696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,A0003768,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,A0008228,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [5]:
AR_App.head()

,panel_id,App_num_total_40,App_num_total_50,App_num_total_60,App_num_total_70,App_num_total_80,App_num_total_90,App_num_total_100,App_num_total_110,App_num_total_less30,App_num_total_more120,App_num_mean_20.0,App_num_mean_30.0,App_num_mean_40.0,App_num_mean_50.0,App_num_mean_60.0,App_num_mean_less10,App_num_mean_more70,App_num_gap_20.0,App_num_gap_30.0,App_num_gap_40.0,App_num_gap_50.0,App_num_gap_60.0,App_num_gap_less10,App_num_gap_more70,...,틸리언,패널나우,패널락,패널파워,포토,핀크,핑크다이어리,하나1Q페이,하나멤버스,하나카드,하이마트,한컴오피스 viewer,해피머니,해피스크린,해피포인트,허니스크린,현대Hmall,현대카드,현대해상,홈&쇼핑,홈쇼핑모아,홈플러스,화해,후스콜,후후
0,A0002542,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,A0003204,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,A0003696,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,A0003768,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,A0008228,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [6]:
del AR_PS['Unnamed: 0']
AR_PS.head()

,id,sex_female,sex_male,age_10_1,age_10_2,age_10_3,age_10_4,age_10_5,age_10_more6,wedding_etc,wedding_no,wedding_yes,family_num_1,family_num_2,family_num_3,family_num_4,family_num_more5,income_1,income_2,income_3,income_4,income_5,income_6,home_own_etc,home_own_월세,...,mobile_model_삼성 보급,mobile_model_삼성 최신,mobile_model_애플 보급,mobile_model_애플 최신,job_경영직,job_공무원(공기업포함),job_교사/학원강사,job_기타,job_농/임/어업,job_무직,job_사무직,job_생산/기술/노무직,job_서비스/영업/판매직,job_자영업,job_전문직,job_전업주부,job_프리랜서/자유직,job_학생,family_00s,family_10s,family_20s,family_30s,family_40s,family_50s,family_more60s
0,A0000910,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1
1,A0001355,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1
2,A0002394,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0
3,A0002542,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1
4,A0003204,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0

In [60]:
AR_PS.shape

(18463, 69)

In [7]:
AR_Location.shape

(9681, 74)

In [8]:
AR_App.shape

(9681, 319)

In [9]:
AR_PS.shape

(18463, 69)

In [10]:
AR_df = AR_Location.merge(AR_App, how='left', left_on='pid', right_on='panel_id')
AR_df = AR_df.merge(AR_PS, how='left', left_on='pid', right_on='id')

In [11]:
AR_df.head()

,pid,Location_CU,Location_GS25,Location_다이소,Location_뚜레쥬르,Location_롯데리아,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_세븐일레븐,Location_스타벅스,Location_올리브영,Location_이디야,Location_투썸플레이스,Location_파리바게뜨,Coffee Shop,Korean Food Restaurants,Subway Station,Convenience Store,Discount Department Store,Burger/Sandwich,Bakery,Clothing Store,Japanese Food Restaurants,Supermarket,...,mobile_model_삼성 보급,mobile_model_삼성 최신,mobile_model_애플 보급,mobile_model_애플 최신,job_경영직,job_공무원(공기업포함),job_교사/학원강사,job_기타,job_농/임/어업,job_무직,job_사무직,job_생산/기술/노무직,job_서비스/영업/판매직,job_자영업,job_전문직,job_전업주부,job_프리랜서/자유직,job_학생,family_00s,family_10s,family_20s,family_30s,family_40s,family_50s,family_more60s
0,A0002542,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1
1,A0003204,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0
2,A0003696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0
3,A0003768,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0
4,A0008228,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0

In [62]:
AR_df.shape

(9681, 459)

In [13]:
del AR_df['pid']
del AR_df['panel_id']
del AR_df['id']

In [14]:
AR_df.shape

(9681, 459)

<br>
총 459개의 컬럼을 활용하여 연관규칙 분석 진행!
<br>

<br>
<br>
<br>

## Association Rule - Modeling

위치데이터, 설문정보, 앱데이터를 모두 활용한 연관규칙 분석

<br>

In [15]:
# min_support 0.01 이하는 발생하지 않은 사건으로 취급
# confidence는 일단 고려하지 않음
# lift의 min_threshold를 2로 설정 (두 사건이 독립일때 기대되는 동시발생빈도보다 2배 높은 동시발생빈도)

frequent_itemsets = apriori(AR_df, min_support=0.01, use_colnames=True, max_len=2)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=2)

In [16]:
# 총 5488개의 규칙 발견, 조건절과 결과절이 서로 뒤바뀐 경우라면 같은 경우로 취급하기 때문에 이보다 규칙 수는 더 적음

len(rules)

5488

In [24]:
# 중복 규칙을 삭제하는 과정

dup_rule_df = rules.sort_values(by='lift', ascending=False)[['antecedents','consequents']]
dup_rule_df['antecedents'] = dup_rule_df['antecedents'].map(lambda x: str(x).replace('frozenset({','').replace('})','')[1:-1])
dup_rule_df['consequents'] = dup_rule_df['consequents'].map(lambda x: str(x).replace('frozenset({','').replace('})','')[1:-1])

rule_set = []

for i in range(len(dup_rule_df)):
    x = set(dup_rule_df.loc[i,:])
    rule_set.append(x)

rules['dup?'] = rule_set
rules['dup?'] = rules['dup?'].map(lambda x: str(x))
rules = rules.drop_duplicates(subset=['dup?']).sort_values(by='lift', ascending=False)

del rules['dup?']

<br>
<br>
<br>

## Association Rule - 결과

lift 최소값 2 기준으로 2958개의 규칙 발견

<br>

In [25]:
# 가능한 룰의 최대 갯수

(459*458)/2

105111.0

In [26]:
# 총 2958개의 규칙 발견

len(rules)

2956

In [27]:
# lift 값이 매우 높은 규칙들은 상식상 당연한 결과

rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
5478,(mobile_model_애플 최신),(mobile_factory_Apple),0.013118,0.013738,0.013118,1.000000,72.789474,0.012938,inf
5480,(mobile_model_애플 보급),(mobile_factory_Etc),0.031195,0.030575,0.030575,0.980132,32.056291,0.029622,48.794374
667,(App_num_total_less30),(App_num_mean_less10),0.060634,0.053920,0.040492,0.667802,12.385048,0.037222,2.847943
666,(App_num_mean_less10),(App_num_total_less30),0.053920,0.060634,0.040492,0.750958,12.385048,0.037222,3.771915
2960,(배틀그라운드),(PUBG MOBILE),0.030059,0.077368,0.027477,0.914089,11.814818,0.025151,10.739436
5440,(education_고졸 미만),(age_10_1),0.082430,0.067348,0.062390,0.756892,11.238457,0.056839,3.836371
5102,(인터파크 투어),(인터파크 도서),0.045347,0.046689,0.023448,0.517084,11.074984,0.021331,1.974072
190,(Location_올리브영),(Drug Store),0.073649,0.100196,0.073649,1.000000,9.980412,0.066270,inf
2438,(MONEY TREE),(더현대닷컴),0.058878,0.048136,0.027167,0.461404,9.585509,0.024332,1.767305
3588,(더현대닷컴),(정원e샵),0.048136,0.071790,0.032538,0.675966,9.415861,0.029082,2.864542

In [28]:
rules_for_network = rules[['antecedents','consequents','lift']]
rules_for_network.head()

                 antecedents             consequents       lift
5478    (mobile_model_애플 최신)  (mobile_factory_Apple)  72.789474
5480    (mobile_model_애플 보급)    (mobile_factory_Etc)  32.056291
667   (App_num_total_less30)   (App_num_mean_less10)  12.385048
666    (App_num_mean_less10)  (App_num_total_less30)  12.385048
2960                (배틀그라운드)           (PUBG MOBILE)  11.814818

In [29]:
rules_for_network['antecedents'] = rules_for_network['antecedents'].map(lambda x: str(x).replace('frozenset({','').replace('})','')[1:-1])
rules_for_network['consequents'] = rules_for_network['consequents'].map(lambda x: str(x).replace('frozenset({','').replace('})','')[1:-1])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
rules_for_network.columns = ['Source','Target', 'Weight']
rules_for_network.head()

                    Source                Target     Weight
5478    mobile_model_애플 최신  mobile_factory_Apple  72.789474
5480    mobile_model_애플 보급    mobile_factory_Etc  32.056291
667   App_num_total_less30   App_num_mean_less10  12.385048
666    App_num_mean_less10  App_num_total_less30  12.385048
2960                배틀그라운드           PUBG MOBILE  11.814818

In [33]:
# 분석에 사용할 lift 값만 따로 edgelist형태로 저장

rules_for_network.to_csv('AR_allcol_edgelist.csv', index=False)

In [ ]:
# 혹시 몰라서 매트릭스 형태로도 저장

AR_adj_matrix = pd.DataFrame(index=AR_df.columns, columns=AR_df.columns)

for i,j,k in zip(rules_for_network['antecedents'], rules_for_network['consequents'], rules_for_network['lift']) :
    AR_adj_matrix.loc[i,j] = k
    AR_adj_matrix.loc[j,i] = k   
    
AR_adj_matrix_fillzero = AR_adj_matrix.fillna(int(0))
AR_adj_matrix_fillzero.to_csv("AR_adj_matrix_fillzero.csv")

<br>
<br>
<br>

## Association Rule - Label

시각화 결과물에 label을 부여하기 위해 각 컬럼의 label을 지정

<br>

<br>
<br>
### 1. 위치데이터 라벨링

총 3개의 Label 사용

<br>

In [39]:
AR_Location.head()

,pid,Location_CU,Location_GS25,Location_다이소,Location_뚜레쥬르,Location_롯데리아,Location_매표소/로비/휴게소,Location_맥도날드,Location_배스킨라빈스,Location_세븐일레븐,Location_스타벅스,Location_올리브영,Location_이디야,Location_투썸플레이스,Location_파리바게뜨,Coffee Shop,Korean Food Restaurants,Subway Station,Convenience Store,Discount Department Store,Burger/Sandwich,Bakery,Clothing Store,Japanese Food Restaurants,Supermarket,...,Shoe Store,Electronics Shop,General Hospital,Pizza,Karaoke,Main_city_서울,Main_city_경기,Main_city_경상,Main_city_충청,Main_city_부산,Main_city_인천,Main_city_전라,City_count_1,City_count_2,City_count_3,City_count_more4,ratio_0.25,ratio_0.5,ratio_0.75,ratio_1,ratio_2,ratio_3,ratio_3to5,ratio_5to11,ratio_more11
0,A0002542,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,A0003204,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A0003696,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,A0003768,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,A0008228,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [40]:
# 시각화했을때 색이 지나치게 많아지면 안되므로 labeling을 최대한 단순하게 했음

locdata_label = pd.DataFrame(data = AR_Location.columns).rename(columns={0:'Colname'})[1:]
locdata_label['Label'] = locdata_label['Colname'].map(lambda x: 'Real_location' if "Location_" in x 
                                     else 'Location_stat'if "_" in x 
                                     else 'Location_category')

In [41]:
locdata_label.head()

         Colname          Label
1    Location_CU  Real_location
2  Location_GS25  Real_location
3   Location_다이소  Real_location
4  Location_뚜레쥬르  Real_location
5  Location_롯데리아  Real_location

<br>
<br>
### 2. 설문조사 데이터 라벨링

총 3개의 Label 사용

<br>

In [42]:
AR_PS.head()

,id,sex_female,sex_male,age_10_1,age_10_2,age_10_3,age_10_4,age_10_5,age_10_more6,wedding_etc,wedding_no,wedding_yes,family_num_1,family_num_2,family_num_3,family_num_4,family_num_more5,income_1,income_2,income_3,income_4,income_5,income_6,home_own_etc,home_own_월세,...,mobile_model_삼성 보급,mobile_model_삼성 최신,mobile_model_애플 보급,mobile_model_애플 최신,job_경영직,job_공무원(공기업포함),job_교사/학원강사,job_기타,job_농/임/어업,job_무직,job_사무직,job_생산/기술/노무직,job_서비스/영업/판매직,job_자영업,job_전문직,job_전업주부,job_프리랜서/자유직,job_학생,family_00s,family_10s,family_20s,family_30s,family_40s,family_50s,family_more60s
0,A0000910,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,1
1,A0001355,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1
2,A0002394,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0
3,A0002542,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1
4,A0003204,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0

In [43]:
# indiv(개인기본정보) / mobile(핸드폰 관련 정보) / job(직업정보) 로 단순하게 구분!

PSdata_label = pd.DataFrame(data = AR_PS.columns).rename(columns={0:'Colname'})[1:]
PSdata_label['Label'] = PSdata_label['Colname'].map(lambda x: 'PS_Mobile' if "mobile" in x 
                                     else 'PS_job'if "job" in x 
                                     else 'PS_indiv')

In [44]:
PSdata_label.head()

      Colname     Label
1  sex_female  PS_indiv
2    sex_male  PS_indiv
3    age_10_1  PS_indiv
4    age_10_2  PS_indiv
5    age_10_3  PS_indiv

In [63]:
PSdata_label.groupby('Label').count()

           Colname
Label
PS_Mobile       14
PS_indiv        40
PS_job          14

<br>
<br>
### 3. 앱데이터 라벨링

앱 사용패턴 - <br>
앱 - 카테코리에 따라 라벨링

<br>

In [45]:
AR_App.head()

,panel_id,App_num_total_40,App_num_total_50,App_num_total_60,App_num_total_70,App_num_total_80,App_num_total_90,App_num_total_100,App_num_total_110,App_num_total_less30,App_num_total_more120,App_num_mean_20.0,App_num_mean_30.0,App_num_mean_40.0,App_num_mean_50.0,App_num_mean_60.0,App_num_mean_less10,App_num_mean_more70,App_num_gap_20.0,App_num_gap_30.0,App_num_gap_40.0,App_num_gap_50.0,App_num_gap_60.0,App_num_gap_less10,App_num_gap_more70,...,틸리언,패널나우,패널락,패널파워,포토,핀크,핑크다이어리,하나1Q페이,하나멤버스,하나카드,하이마트,한컴오피스 viewer,해피머니,해피스크린,해피포인트,허니스크린,현대Hmall,현대카드,현대해상,홈&쇼핑,홈쇼핑모아,홈플러스,화해,후스콜,후후
0,A0002542,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,A0003204,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,A0003696,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,A0003768,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,A0008228,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [46]:
# 대상 앱과 그 카테고리

target_app_cat = pd.read_csv("target_app_cat.csv")
target_app_cat.head()

         app_name app_category
0  Polaris Office          생산성
1             갤러리           사진
2             계산기           도구
3            고객센터         비즈니스
4            내 파일           도구

In [47]:
# App_num(사용하는 앱의 수) / Usage_time(사용시간) / app_category(가장 선호하는 앱 카테고리) / 개별 앱 고유 카테고리 로 분류

Appdata_label = pd.DataFrame(data = AR_App.columns).rename(columns={0:'Colname'})[1:]
Appdata_label['Label'] = Appdata_label['Colname'].map(lambda x: 'App_number' if "App_num" in x 
                                     else 'Usage_time'if "Usage_time" in x 
                                     else 'Favorite_category'if "app_category" in x
                                     else None)

Appdata_label = Appdata_label.merge(target_app_cat, how='left', left_on='Colname', right_on='app_name')
Appdata_label_1 = Appdata_label[lambda x: x['Label'].notnull()]
Appdata_label_1 = Appdata_label_1[['Colname','Label']]

Appdata_label_2 = Appdata_label[lambda x: x['Label'].isnull()]
Appdata_label_2 = Appdata_label_2[['Colname','app_category']]
Appdata_label_2.columns = ['Colname','Label']

Appdata_label = pd.concat([Appdata_label_1,Appdata_label_2])

In [48]:
Appdata_label.head()

            Colname       Label
0  App_num_total_40  App_number
1  App_num_total_50  App_number
2  App_num_total_60  App_number
3  App_num_total_70  App_number
4  App_num_total_80  App_number

In [49]:
# concat 후 저장

allcol_label = pd.concat([locdata_label,PSdata_label,Appdata_label])
allcol_label.columns = ['id','category']
allcol_label.to_csv("allcol_label.csv", index=False)

In [57]:
allcol_label.head()

              id       category
1    Location_CU  Real_location
2  Location_GS25  Real_location
3   Location_다이소  Real_location
4  Location_뚜레쥬르  Real_location
5  Location_롯데리아  Real_location

<br>
<br>
### 4. Gephi에 넣기 위해 다듬는 작업



<br>

In [34]:
rules_for_network = rules_for_network.reset_index(drop=True)
rules_for_network.columns = ['Source','Target','Weight']

In [35]:
rules_for_network.head()

                 Source                Target     Weight
0    mobile_model_애플 최신  mobile_factory_Apple  72.789474
1    mobile_model_애플 보급    mobile_factory_Etc  32.056291
2  App_num_total_less30   App_num_mean_less10  12.385048
3   App_num_mean_less10  App_num_total_less30  12.385048
4                배틀그라운드           PUBG MOBILE  11.814818

In [36]:
source_1 = rules_for_network['Source']
source_2 = rules_for_network['Target']

source = pd.concat([source_1,source_2]).drop_duplicates().reset_index(drop=True)
source = pd.DataFrame(source).rename(columns={0:'id'})

In [37]:
source.head()

                     id
0    mobile_model_애플 최신
1    mobile_model_애플 보급
2  App_num_total_less30
3   App_num_mean_less10
4                배틀그라운드

In [51]:
allcol_label_for_rule = source.merge(allcol_label, how='left', on='id')

allcol_label_for_rule.loc[3,'category'] = '액션'
allcol_label_for_rule.loc[58,'category'] = '라이프스타일'
allcol_label_for_rule.loc[70,'category'] = '금융'
allcol_label_for_rule.loc[184,'category'] = '액션'
allcol_label_for_rule.loc[276,'category'] = '라이프스타일'

In [52]:
allcol_label_for_rule.head()

                     id    category
0    mobile_model_애플 최신   PS_Mobile
1    mobile_model_애플 보급   PS_Mobile
2  App_num_total_less30  App_number
3   App_num_mean_less10          액션
4                배틀그라운드           N

In [55]:
allcol_label_for_rule.columns = ['id','category']

In [56]:
allcol_label_for_rule.to_csv('allcol_label_for_rule.csv', index=False)